body {
    margin: 0 8%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    background-color: white;
    font-family: sans-serif;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

.filter {
    margin: 30px 0;
}
